html {
    height: 100%
}

body {
    height: 100%;
}

.frm_header {
    height: 70px;
    background: #0088CC;
    position: relative;
}

    .frm_header * {
        color: #fff
    }

    .frm_header .logo {
        position: absolute;
        color: #0088CC;
        padding: 0px 20px;
        background-color: transparent;
        text-decoration: none;
    }

        .frm_header .logo h1 {
            margin: 0px;
            line-height: 65px
        }

    .frm_header nav {
        float: right
    }

        .frm_header nav .navbar-nav > li > a {
            line-height: 35px;
            padding: 10px 15px
        }

            .frm_header nav .navbar-nav > li > a:hover {
                background-color: transparent
            }

            .frm_header nav .navbar-nav > li > a.tow_line {
                padding: 20px 15px
            }

            .frm_header nav .navbar-nav > li > a i {
                font-size: 18px;
                line-height: 80px
            }

.frm_body {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    min-height: 200px;
}

.frm_left {
    width: 180px;
    position: relative;
    top: 15px;
    left: 10px;
    overflow-y: auto;
    padding: 0px
}

#main-nav {
    margin-left: 1px;
}

    #main-nav.nav-tabs.nav-stacked > li > a {
        padding: 10px 8px;
        font-size: 12px;
        font-weight: 600;
        color: #4A515B;
        background: #E9E9E9;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
        background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
        border: 1px solid #D5D5D5;
        border-radius: 4px;
    }

        #main-nav.nav-tabs.nav-stacked > li > a > span {
            color: #8470ff;
        }

        #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
            color: #FFF;
            background: #3C4049;
            background: -moz-linear-gradient(top, #0088CC 0%, #3C4049 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088CC), color-stop(100%,#3C4049));
            background: -webkit-linear-gradient(top, #0088CC 0%,#3C4049 100%);
            background: -o-linear-gradient(top, #0088CC 0%,#3C4049 100%);
            background: -ms-linear-gradient(top, #0088CC 0%,#3C4049 100%);
            background: linear-gradient(top, #0088CC 0%,#3C4049 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#3C4049');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8470ff', endColorstr='#3C4049')";
            border-color: #2B2E33;
        }

            #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
                color: #FFF;
            }

    #main-nav.nav-tabs.nav-stacked > li {
        margin-bottom: 4px;
    }
/*定义二级菜单样式*/
.secondmenu a {
    font-size: 14px;
    color: #4A515B;
    text-align: center;
}

.navbar-static-top {
    background-color: #0088CC;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}

.frm_main {
    width: 100%;
    margin-left: 10px;
    height: 99%;
    overflow: auto
}
