@using TheseThree.Admin.Models.Entities
<script type="text/javascript">
    function getlabel() {
        var postdata = {};
        $("#sel_label").empty();
        $("#sel_label").append("<option value='-1'>请选择标签</option>");
        postdata.sectionId = $("#sel_tiku option:selected").val();
        if (postdata.sectionId == "-1") {
            
        } else {
            $.ajax({
                type: "post",
                url: "/Teaching/GetLabels",
                data: postdata,
                success: function (data) {
                    var d = eval(data);   
                    if (d.status == "success") {
                        for (var i = 0; i < d.data.length; i++) {
                            $("#sel_label").append("<option value='" + i + "'>" + d.data[i] + "</option>");
                        }
                    } else {
                        $.toast(d.status, null);
                    }
                },
                error: function () {
                    $.toast("Error", null);
                }
            });
        }
    }
</script>
<div class="panel-body" style="padding-bottom: 0">
    <div style="margin-bottom: 5px;">
        <ul class="breadcrumb " style="margin-bottom: 0;" data-dojo-attach-point="breadcrumb_1">
            <li><a href="#" style="color: #303f9f; font-size: 1.1em;" data-dojo-attach-point="item_1">考试管理</a></li>
            <li><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#main" href="/Teaching/Paper/" style="color: #303f9f; font-size: 1.1em;" data-dojo-attach-point="item_1">试卷管理</a></li>
            <li class="active" style="color: #757575; font-size: 1.1em;" data-dojo-attach-point="item_2">试卷编辑</li>
        </ul>
    </div>
    <input type="hidden" id="paperid" value="@ViewBag.PaperId"/>
    <div class="panel panel-default">
        <div class="panel-heading">试卷基本信息</div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">名称</div>
                        <input type="text" class="form-control" id="txt_name" placeholder="名称" style="width: 230px;" value="@ViewBag.PaperName">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">时长</div>
                        <select class="form-control" style="width: 230px;" id="sel_total_min">
                            @{
                                var m = ViewBag.TotalMini;
                                if (m == 120)
                                {
                                    <option value="120" selected="selected">120分钟</option>
                                }
                                else
                                {
                                    <option value="120">120分钟</option>
                                }
                                if (m == 60)
                                {
                                    <option value="60" selected="selected">60分钟</option>
                                }
                                else
                                {
                                    <option value="60">60分钟</option>
                                }
                                if (m == 30)
                                {
                                    <option value="30" selected="selected">30分钟</option>
                                }
                                else
                                {
                                    <option value="30">30分钟</option>
                                }
                                if (m == 15)
                                {
                                    <option value="15" selected="selected">15分钟</option>
                                }
                                else
                                {
                                    <option value="15">15分钟</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-default" id="btn_save_paper">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="paperInfo">试卷详情（共计0道题，0分）</div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" id="recognizedInfo">判断题（共计0道题，0分）</div>
                <div class="panel-body">
                    <div class="form-group" style="width: 100%;">
                        <div class="input-group" style="float: right;">
                            <button class="btn btn-default" id="btn_recognized_add">从题库添加</button>
                            <button class="btn btn-default" id="btn_recognized_add_manual">手工添加</button>
                        </div>
                    </div>
                    <br/>
                    <table id="recognizedTable"></table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="radioInfo">单选题（共计0道题，0分）</div>
                <div class="panel-body">
                    <div class="form-group" style="width: 100%;">
                        <div class="input-group" style="float: right;">
                            <button class="btn btn-default" id="btn_radio_add">从题库添加</button>
                            <button class="btn btn-default" id="btn_radio_add_manual">手工添加</button>
                        </div>
                    </div>
                    <br/>
                    <table id="radioTable"></table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="multipleChoiceInfo">多选题（共计0道题，0分）</div>
                <div class="panel-body">
                    <div class="form-group" style="width: 100%;">
                        <div class="input-group" style="float: right;">
                            <button class="btn btn-default" id="btn_multipleChoice_add">从题库添加</button>
                            <button class="btn btn-default" id="btn_multipleChoice_add_manual">手工添加</button>
                        </div>
                    </div>
                    <br/>
                    <table id="multipleChoiceTable"></table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="anliChoiceInfo">案例题（共计0道题，0分）</div>
                <div class="panel-body">
                    <div class="form-group" style="width: 100%;">
                        <div class="input-group" style="float: right;">
                            <button class="btn btn-default" id="btn_anliChoice_add">从题库添加</button>
                            <button class="btn btn-default" id="btn_anliChoice_add_manual">添加</button>
                        </div>
                    </div>
                    <br />
                    <table id="anliChoiceTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mymodal">
    <input type="hidden" id="hid_exercise_type" />
    <div class="modal-dialog" style="width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">请选择题目（判断题）</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="sel_tiku">题库:</label>
                        <select type="text" class="form-control" id="sel_tiku" style="width: 200px;" onchange="getlabel()">
                            <option value="-1">选择题库</option>
                            @{
                                if (ViewBag.Tiku != null)
                                {
                                    foreach (TiKu item in ViewBag.Tiku)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel_label">标签:</label>
                        <select type="text" class="form-control" id="sel_label" style="width: 200px;">
                            <option value="-1">选择标签</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txt_timu_name">题干:</label>
                        <input type="text" class="form-control" id="txt_timu_name" placeholder="名称" style="width: 200px;">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn_query">查询</button>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="txt_timu_name">设置分数:</label>
                    <input type="text" class="form-control" id="txt_timu_cent" placeholder="分数" style="width: 200px;" value="0">
                </div>
                <table id="timuTable"></table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_save">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mymodal1">
    <input type="hidden" id="hid_timu_id"/>
    <input type="hidden" id="hid_timu_type"/>
    <div class="modal-dialog" style="width: 250px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">设置分数</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="txt_timu_name">设置分数:</label>
                        <input type="text" class="form-control" id="txt_fen" placeholder="分数" style="width: 150px;">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="cb_all_type_timu"/>
                        <label>为该类型所有题目设置统一分数</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_fen_save">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mymodal3">
    <input type="hidden" id="hid_table_id"/>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="h4_title">新增</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">案例</div>
                        <textarea class="form-control" id="txt_new_anli" placeholder="案例" style="width: 500px;" rows="3"></textarea>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">题干</div>
                        <textarea class="form-control" id="txt_new_question" placeholder="题干" style="width: 500px;" rows="2"></textarea>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">分值</div>
                        <input type="text" class="form-control" id="txt_new_label" placeholder="分值" style="width: 500px;">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">难度</div>
                        <input type="text" class="form-control" id="txt_new_difficulty" placeholder="难度" style="width: 500px;">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">类型</div>
                        <select class="form-control" id="txt_new_type" style="width: 500px;">
                            <option value="1">单选题</option>
                            <option value="2">多选题</option>
                            <option value="3">判断题</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">A</div>
                        <input type="text" class="form-control" id="txt_new_A" placeholder="选项A" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbA"/><label for="cbA">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">B</div>
                        <input type="text" class="form-control" id="txt_new_B" placeholder="选项B" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbB"/><label for="cbB">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">C</div>
                        <input type="text" class="form-control" id="txt_new_C" placeholder="选项C" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbC"/><label for="cbC">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">D</div>
                        <input type="text" class="form-control" id="txt_new_D" placeholder="选项D" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbD"/><label for="cbD">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">E</div>
                        <input type="text" class="form-control" id="txt_new_E" placeholder="选项E" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbE"/><label for="cbE">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">F</div>
                        <input type="text" class="form-control" id="txt_new_F" placeholder="选项F" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbF"/><label for="cbF">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">G</div>
                        <input type="text" class="form-control" id="txt_new_G" placeholder="选项G" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbG"/><label for="cbG">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">H</div>
                        <input type="text" class="form-control" id="txt_new_H" placeholder="选项H" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbH"/><label for="cbH">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">I</div>
                        <input type="text" class="form-control" id="txt_new_I" placeholder="选项I" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbI"/><label for="cbI">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon" style="width: 53px;">J</div>
                        <input type="text" class="form-control" id="txt_new_J" placeholder="选项J" style="width: 400px;">
                        <input type="checkbox" style="margin-top: 10px;" id="cbJ"/><label for="cbJ">设为正确答案</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">描述</div>
                        <textarea class="form-control" id="txt_new_desc" placeholder="描述" style="width: 500px;" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_stimu_save">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/paperedit.js?v12"></script>