<div class="panel-body" style="padding-bottom: 0;">
    <div style="margin-bottom: 5px;">
        <ul class="breadcrumb " style="margin-bottom:0;" data-dojo-attach-point="breadcrumb_1">
            <li><a href="#" style="color:#303f9f;font-size:1.1em;" data-dojo-attach-point="item_1">系统管理</a></li>
            <li class="active" style="color:#757575;font-size:1.1em;" data-dojo-attach-point="item_2">角色管理</li>
        </ul>
    </div>
    <table id="jueseTable"></table>
</div>
<script src="~/Scripts/role.js"></script>