<div class="panel-body" style="padding-bottom: 0;">
    <div style="margin-bottom: 5px;">
        <ul class="breadcrumb " style="margin-bottom:0;" data-dojo-attach-point="breadcrumb_1">
            <li><a href="#" style="color:#303f9f;font-size:1.1em;" data-dojo-attach-point="item_1">系统管理</a></li>
            <li class="active" style="color:#757575;font-size:1.1em;" data-dojo-attach-point="item_3">首页图片</li>
        </ul>
    </div>
    <div id="toolbar" class="btn-group">
        <button id="btn_upload_pic" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>上传图片
        </button>
    </div>
    <table id="picTable"></table>
</div>
<div class="modal" id="picmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">    
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="ward">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">标题</div>
                                            <input type="text" class="form-control" id="txt_pic_name" placeholder="标题" style="width: 380px;">
                                        </div>
                                        <br /><br />
                                        <input type="file" class="form-control" id="file_upload" name="file_upload" placeholder="请选择图片" style="width: 480px;">
                                        <br /><br />
                                        <progress></progress><br /> <br />
                                        <button type="button" class="btn btn-primary" id="btn_save_pic">保存</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/picMgr.js?v6"></script>