<div class="panel-body" style="padding-bottom: 0;">
    <div style="margin-bottom: 5px;">
        <ul class="breadcrumb " style="margin-bottom:0;" data-dojo-attach-point="breadcrumb_1">
            <li><a href="#" style="color:#303f9f;font-size:1.1em;" data-dojo-attach-point="item_1">统计报表</a></li>
            <li class="active" style="color:#757575;font-size:1.1em;" data-dojo-attach-point="item_2">通知统计</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">名称</div>
                        <input type="text" class="form-control" id="txt_name" placeholder="名称" style="width: 230px;">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">开始时间</div>
                        <input type="text" class="form-control" id="txt_strat_time" placeholder="开始时间" style="width: 230px;">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">结束时间</div>
                        <input type="text" class="form-control" id="txt_end_time" placeholder="结束时间" style="width: 230px;">
                    </div>
                    <div class="input-group">
                        <button type="button" id="btn_query" class="btn btn-primary" style="width: 100px;">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="noticeTable"></table>
</div>

<script src="~/Scripts/statistic_notice.js"></script>